
body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 50px;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    margin: 0;
}

h2 {
    font-size: 30px;
    text-align: center;
}

a {
    color : rgb(0, 0, 0) ;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 5px;
}

.resources-menu{
    font-size: 20px;
}
.tips-menu{
    font-size: 20px;
}
.about{
    font-size: 20px;
}
.quote{
    font-size: 35px;
    text-align: left;
    background-color:azure
}

header {
    width: 100%;
    background-color: rgb(189, 220, 255);
}

body {
    width: 100%;
    background-color: white;
    font-family: sans-serif;
    align-items: left;
    justify-content: left;
    margin: 0;
}

button {
    background-color: rgb(251, 249, 245);
    font-size: 60px;
    border: 0px;
    font-family: Junge;
}

.message {
    width: 100%;
    background-color: rgb(251, 249, 245); /* Or any color you wish to use */
    text-align: center;
    padding: 70px 0; /* Vertical padding as needed */
}

.sleep{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.anxiety{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sleep{
    background-color:rgb(117, 191, 252);
}

.anxiety{
    background-color:rgb(117, 191, 252) ;
}

.stress{
    background-color:rgb(117, 191, 252) ;
}


.stress{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tips{
    display: flex;
    flex-direction: row;
}

.menus{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.resources{
    display: flex;
    flex-direction: row;
}

.sleep, .anxiety, .stress {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
}

.sleep, .anxiety, .stress {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
}



.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.column {
    text-align: center;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.column img {
    width: 100%;
    margin: auto;
    display: block;
}

.column h2 {
    font-size: 1.5rem;
    color: #1c3a63;
}

.column a {
    color: #007bff;
    text-decoration: none;
}

#peersupport {
    background-color: steelblue;
    margin-right: 16px;
}

#src {
    background-color: steelblue;
    margin-right: 16px;
}


.column a:hover {
    text-decoration: underline;
}

.group:hover .column {
    filter: blur(4px);
}

.tip-column:hover {
    transform: scale(1.1);
}


@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}