
body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 40px;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    padding-right: 50px;
    margin: 0;
}

h2 {
    font-size: 30px;
    text-align: center;
}

a {
    color : rgb(0, 0, 0) ;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 20px;
    padding: 30px;
}

.resources-menu{
    font-size: 20px;
}
.tips-menu{
    font-size: 20px;
}
.about{
    font-size: 20px;
}
.quote{
    font-size: 35px;
    text-align: left;
    background-color:azure
}

/* blue rgb(189, 220, 255) */

header {
    position: relative;
    width: 100%;
    background-color: white;
    margin: 0;
}

.left-side-logo {
    position: absolute;
    top: 50%;
    left: 30px; /*30px from left edge */
    transform: translateY(-50%);
}

.navigation {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body {
    width: 100%;
    background-color: white;
    font-family: sans-serif;
    align-items: left;
    justify-content: left;
    margin: 0;
}



button {
    width: 70%;
    background-color: rgb(251, 249, 245);
    font-size: 60px;
    border: 0px;
    font-family: Junge;
    align-items: center;
    justify-content: center;
}

.message-block {
    width: 100%;
    background-color: rgb(251, 249, 245);
    text-align: center;
    padding: 70px 0;
    margin: 0;
}



.tips {
    display: flex;
    flex-direction: row;
    margin: 30px;
}

.sleep, .anxiety, .stress {
    background-color: rgb(251, 249, 245);
    flex: 1;
    margin: 30px;
    padding: 50px;
    border: 0px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.tip-discriptions {
    background-color:rgb(189, 220, 255);
}

.tip-column:hover {
    transform: scale(1.1);
}


.resources {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.column {
    text-align: center;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.column img {
    width: 100%;
    margin: auto;
    display: block;
}

.column h2 {
    font-size: 1.5rem;
    color: #1c3a63;
}

.column a {
    color: #007bff;
    text-decoration: none;
}

#peersupport {
    background-color: steelblue;
    margin-right: 16px;
}

#src {
    background-color: steelblue;
    margin-right: 16px;
}


@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}