@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background: #E3F2FD;
}
.chatbot-toggler {
    position: fixed;
    right: 40px;
    bottom: 15px;
    height: 50px;
    width: 50px;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    background: #FFD580;
    border-radius: 50%;
}

/* .chatbot-toggler span {
    position: absolute;
} */

.chatbot {
    position: fixed;
    right: 40px;
    bottom: 100px;
    width: 420px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0,1),
                0 32px 64px -48px rgba(0,0,0,0,5);
}
.chatbot header {
    background: #FFD580;
    padding: 16px 0;
    text-align: center;
}
.chatbot header h2 {
    color: #000000;
    font-size: 1.4rem;
    font-weight: 80
    0;
}
.chatbot header span {
    position: absolute;
    right: 20px;
    top: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    transform: translateY(-50%);
}
.chatbot .chatbox {
    height: 510px;
    overflow-y: auto;
    padding: 30px 20px 70px;
}
.chatbox .chat {
    display: flex;
}
.chatbox .incoming span {
    height: 32px;
    width: 32px;
    color: #fff;
    color: #fff;
    background: #FFD580;
    text-align: center;
    line-height: 32px;
    border-radius: 4px;
    margin: 0 10px 7px 0;

}
.chatbox .outgoing {
    margin: 20px 0;
    justify-content: flex-end;
}
.chatbox .chat p {
    color: #000000;
    font-size: 0.95rem;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    background: #FFD580;
}
.chatbox .incoming p {
    color: #000;
    background: #f2f2f2;
    border-radius: 10px 10px 10px 0;
}
.chatbot .chat-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 5px 20px;
    border-top: 1px solid #ccc;
}
.chat-input textarea {
    border: none;
    outline: none;
    font-size: 0.95rem;
    resize: none;
    padding: 16px 15px 16px 0;
}
.chat-input span {
    align-self: flex-end;
    height: 55px;
    line-height: 55px;
    color: #FFD580;
    font-size: 1.35rem;
    cursor: pointer;
    visibility: hidden;
}

.chat-input textarea:valid ~ span {
    visibility: visible;
}

@media(max-width: 490px) {
    .chatbot {
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .chatbot .chatbox {
        height: 90%;
    }
    .chatbot header span {
        display: block;
    }
}

  

  
